<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page title -->
  <title>Palantíri</title>

  <!-- And favicon -->
  <link rel="icon" type="image/png" href="data:image/png;base64, foobar" />

  <!-- Style sheets -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Add web fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />

  <!-- Polyfil for IE -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Lastly, scripts -->
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

</head>

<body>

  <nav>
    <h1><a href="/">Palantíri</a></h1>
  </nav>

  <section id="addNewEvent">
    <h2>Add new event:</h2>
    <input type="text" id="eventName" placeholder="Event Name" />
    <input type="text" id="eventDesc" placeholder="Event Description" />
    <button id="postTrigger">Create</button>
    <input type="date" id="eventDate" placeholder="Event Date" />
    <p id="successAck">Event created. Check it out live <a href="/">on the timeline</a>, or add another!</p>
  </section>

  <script>
  $("#postTrigger").click(function () {
    $.ajax({
      type: "POST",
      url: "/event/create",
      data: {
        date: $("#eventDate").val().split("-").join(","),
        name: $("#eventName").val(),
        desc: $("#eventDesc").val()
      }
    }).done( function (data) {
      document.getElementById("successAck").style.display = "block"
    })
  })
  </script>

</body>

</html>
