<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page title -->
  <title>Palantíri</title>

  <!-- And favicon -->
  <link rel="icon" type="image/png" href="data:image/png;base64, foobar" />

  <!-- Style sheets -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Add web fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />

  <!-- Polyfil for IE -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  <nav>
    <aside>
      <a class="portal fade" href="/event/create">Add Event</a>
    </aside>
    <h1><a href="/">Palantíri</a></h1>
  </nav>

  <section id="timeline"></section>

  <footer>Powered by <a href="http://github.com/debloper/palantiri">Palantíri</a></footer>

  <!-- Lazy Loadable JS -->
  <script type="text/javascript">
    var timeline_config = {
        type:       "timeline",
        width:      "800",
        height:     "600",
        source:     "data.json",
        embed_id:   "timeline"
    }
  </script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>

</body>

</html>
