<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page title -->
  <title>Palantíri</title>

  <!-- And favicon -->
  <link rel="icon" type="image/png" href="data:image/png;base64, foobar" />

  <!-- Style sheets -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Add web fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
  <style type="text/css">
  h2 {
    margin-top: 25vh;
      text-align: center;
  }
  p {
    text-align: center;
  }
  </style>

  <!-- Polyfil for IE -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>

  <nav>
    <h1><a href="index.html">Palantíri</a></h1>
  </nav>

  <h2>Coming Soon... wait for it! ;)</h2>
  <p>Meanwhile, <a href="/">check out the timeline</a>.</p>

</body>

</html>
